@import 'tailwindcss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}
input {
    outline: none;
    padding: 10px;
}
.btn {
    width: 100%;
    padding: 12px;
    color: white;
}